@{
    Layout = "~/Views/Shared/_MasterBlank.cshtml";
}

<div id="app"></div>
<div id="map">map</div>

<script src="@Url.Content("~/Views/Test/js/index.jsx")"></script>
<link href="@Url.Content("~/Views/Test/css/index.less")" rel="stylesheet" /> 